{% extends 'cars/base.html'%}
{% load static %}

{% block content%}





<center><img src="{% static 'cars/img/team.svg'%}" width="600px" height="500px" class="center"></center>
 
  
{% endblock content%}



{% block footer%}

<div class="footer pt-4 pb-4 mt-4">
  <span class="footer-text center">All rights reserved</span>
</div>


 


 
<!-- <div class=" fixed-bottom">
    <div class="footer pt-4 pb-4 mt-4">
        <span class="footer-text center">All rights reserved</span>
    </div>
</div> -->

{% endblock footer%}